{% extends 'base.html' %}

{% load static %}

{% block title %} Ants {% endblock %}

{% block content %}
        <h1>GIS of Life</h1>
        <h2>Enjoy an idle animation of ant colony on a real world map</h2>
        <p>Some text hyping the game up.</p>
        <h2>Cutting edge graphics</h2>
        <p>Can you tell it's not real?</p>
        <img src="{% static 'media/sample_game.png' %}" width="1000" height="500" alt="sample game">
        {% if not user.is_authenticated %}
            <h2>Join now</h2>
            <p>Click <a href="{% url 'register' %}">here</a> to register. It's free!</p>
        {% else %}
            <h2>Go play</h2>
            <p>What are you waiting for? Here are your <a href="{% url 'game-list' %}">games</a>.</p>
        {% endif %}
{% endblock %}