{%  extends 'base.html' %}
{% load bootstrap4 %}

{% load static %}

{%  block title %} {{ game.name }} {% endblock %}

{% block content %}
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <script src="https://unpkg.com/dom-to-image-more@2.8.0/dist/dom-to-image-more.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>

    <form id="map-form" role="form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div id="map" class="map"></div>

        <button id="create-button">Create</button>
    </form>

    <script src="{% static 'js/game-create.js' %}"></script>
{% endblock %}