{%  extends 'base.html' %}

{% load static %}

{%  block title %} {{ object.name }} {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/game-detail.css' %}">

    <div style="width: {{ map_width }}; height: {{ map_height }}">
        <canvas id="game-canvas" width="{{ map_width }}" height="{{ map_height }}"></canvas>
    </div>
    <a href="{% url 'game-delete' object.token %}"><button>Delete</button></a><br>
    <img id="game-img" src="{% static 'media/game-background.png' %}" alt="game map" hidden>
    <script>
        token = "{{ object.token }}"
        width = "{{ object.width }}"
        height = "{{ object.height }}"
    </script>
    <script src="{% static 'js/game-detail.js' %}"></script>
{% endblock %}


