{%  extends 'base.html' %}

{% load static %}

{%  block title %} {{ object.name }} {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/game-detail.css' %}">

    <div class="canvas-div" style="width: {{ map_width }}; height: {{ map_height }}">
        <canvas id="game-canvas" width="{{ map_width }}" height="{{ map_height }}"></canvas>
    </div>
    <a href="{% url 'game-delete' object.token %}"><button class="btn btn-primary btn-lg btn-block game-button">Delete</button></a><br>
    <table id="blobs-stats" class="table">
        <thead>
            <tr>
                <th scope="col">Count</th>
                <th scope="col">Average age</th>
                <th scope="col">Average energy</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col"><span id="blob-count">0</span></th>
                <th scope="col"><span id="blob-avg-age">0</span></th>
                <th scope="col"><span id="blob-avg-energy">0</span></th>
            </tr>
        </tbody>
    </table>
    <table id="blobs-list" class="table">
        <thead>
            <tr>
                <th scope="col">Color</th>
                <th scope="col">Age</th>
                <th scope="col">Energy</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <img id="game-img" src="{{ object.image.url }}" alt="game map" hidden>
    <script>
        token = "{{ object.token }}"
        width = "{{ object.width }}"
        height = "{{ object.height }}"
    </script>
    <script src="{% static 'js/game-detail.js' %}"></script>
{% endblock %}


